# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
venv/
backend/venv/

# -----------------------------
# Dataset & outputs
# -----------------------------
dataset_small/
outputs/

# -----------------------------
# DVC files
# -----------------------------
*.dvc
*.dvc.lock

# -----------------------------
# IDE / OS files
# -----------------------------
.vscode/
.DS_Store