# Python
backend/__pycache__/
backend/venv/

# Model weights (tracked by DVC)
backend/model/best.pt

# Data contents ignored (tracked by DVC)
data/raw/train/images/
data/raw/train/labels/
data/raw/val/
data/raw/test/

# Outputs
backend/outputs/
/data
